table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 10px;
}

table.table-none {
    margin-bottom: 0;
}

th,
td {
    border: 1px solid #808080;
    padding: 8px;
    text-align: left;
}

.none-border-td,
.none-border {
    border: none;
}

.none-border th,
.none-border td {
    border: none;
}

.body-part {
    border: 1px solid #808080;
    padding: 10px;
}

body:last-child .print-format .none-border td img {
    width: auto !important;
}

.align-left {
    text-align: left;
}

.align-center {
    text-align: center;
}

.align-right {
    text-align: right;
}

.none-border .vertical-middle {
    vertical-align: middle !important;
}

h3 {
    border: solid 1px #ccc;
}

p {
    font-size: 18px;
}

.print-format td span div p {
    font-size: 9pt;
}

.none-border tbody td {
    width: auto;
}

tbody td {
    width: 100px;
}
body .print-format td{
    padding: 4px !important;
}


<div class="container-fluid">
    <table class="none-border">
        <tr>
            <td>
                <img src="/files/print-logo.jpeg" class="img img-rounded" width="47" height="60">
            </td>

            <td class="align-center">
                <h3>BIHAR RMC</h3>
                <p>
                    <span>Report Title: <b>Batch Sheet</b></span>
                    <span>Plant Sl.No: <b>566</b></span>
                </p>
            </td>
        </tr>

    </table>

    <div class="body-part">
        <table class="none-border">
            <tr>
                <td nowrap><strong>Batch Date</strong></td>
                <td><span>{{ doc.get_formatted("inst_date") }}</span></td>
                <td nowrap><strong>Batch Start Time</strong></td>
                <td><span>{{ doc.get_formatted("custom_start_time") }}</span></td>
                <td nowrap><strong>Batch End Time</strong></td>
                <td><span>{{ doc.get_formatted("inst_time") }}</span></td>
            </tr>
            <tr>
                <td nowrap><strong>Batch Number</strong></td>
                <td>
                    {% if doc.custom_installation_note_data and doc.custom_installation_note_data[0].batch_no %}
                    <span>{{doc.custom_installation_note_data[0].batch_no}}</span>
                    {% endif %}
                </td>
                <td nowrap><strong>Recipe Code</strong></td>
                <td><span>{{doc.custom_recipe_name}}</span></td>
                <td nowrap><strong>Ordered Qty</strong></td>
                <td><span>{{doc.items[0].qty}}</span></td>
            </tr>
            <tr>
                <td nowrap><strong>Batch Name</strong></td>
                <td><span>{{doc.items[0].description}}</span></td>
                <td nowrap><strong>Recipe Name</strong></td>
                <td><span>{{ doc.custom_recipe_name }}</span></td>
                <td nowrap><strong>Production Qty</strong></td>
                <td><span>{{doc.items[0].custom_count}}</span></td>
            </tr>
            <tr>
                <td nowrap><strong>Order Number</strong></td>
                <td><span>{{doc.items[0].custom_sales_order_no}}</span></td>
                <td nowrap><strong>Truck Number</strong></td>
                <td><span>{{ doc.custom_vehicle_no }}</span></td>
                <td nowrap><strong>Adj/Manual Qty</strong></td>
                <td><span></span></td>
            </tr>
            <tr>
                <td nowrap><strong>Customer</strong></td>
                <td>{{ doc.customer_name }}</td>
                <td nowrap><strong>Truck Driver</strong></td>
                <td><span>{{ doc.custom_driver_name }}</span></td>
                <td nowrap><strong>With This Load</strong></td>
                <td><span></span></td>
            </tr>
            <tr>
                <td nowrap><strong>Site</strong></td>
                <td><span>{{ doc.custom_site }}</span></td>
                <td nowrap><strong>Batch size</strong></td>
                <td><span>{{doc.items[0].custom_batch_size}}</span></td>
                <td nowrap><strong>Mixer capacity</strong></td>
                <td><span>{{ doc.custom_batch_size }}</span></td>
            </tr>

        </table>
        <table class="text-center">
            <tr>
                <td class="none-border-td">

                    <table class="table-none none-border text-center">
                        <tr>
                            <td class="text-center no-left-border no-right-border"><b>Aggregate</b> </td>
                            <td class="text-center no-left-border no-right-border"><b>Cement</b></td>
                            <td class="text-center no-left-border no-right-border"><b>Water/Ice</b></td>
                            <td class="text-center no-left-border no-right-border"><b>Admixture</b></td>
                            <td class="text-center no-left-border no-right-border"><b>Silica</b></td>
                        </tr>

                    </table>

                    <table>
                        <tr>
                            <td><b>20MM</b></td>
                            <td><b>SAND</b></td>
                            <td><b>10MM</b></td>
                            <td><b>Agg5</b></td>
                            <td><b>Agg6</b></td>
                            <td><b>CEM-I</b></td>
                            <td><b>CEM-II</b></td>
                            <td><b>CEM-III</b></td>
                            <td><b>Cem4</b></td>
                            <td><b>Cem5</b></td>
                            <td><b>Water 1</b></td>
                            <td><b>Wtr2</b></td>
                            <td><b>Wtr3</b></td>
                            <td><b>Admixture 1</td>
                            <td><b>ADMIX-II</td>
                            <td><b>Admix 3</td>
                            <td><b>silica</b></td>

                        </tr>
                        <tr>
                            <td>
                                {%- for row in doc.custom_installation_note_recipe -%}
                                {%- if row.item_name == "20 MM" -%}
                                {{ row.qty }}
                                {%- endif -%}
                                {%- endfor -%}
                                {{ "0.00" }}
                            </td>
                            <td>
                                {%- for row in doc.custom_installation_note_recipe -%}
                                {%- if row.item_name == "Crushed Sand" -%}
                                {{ row.qty }}
                                {%- endif -%}
                                {%- endfor -%}
                                {{ "0.00" }}
                            </td>
                            <td>
                                {%- for row in doc.custom_installation_note_recipe -%}
                                {%- if row.item_name == "10 MM" -%}
                                {{ row.qty }}
                                {%- endif -%}
                                {%- endfor -%}
                                {{ "0.00" }}
                            </td>
                            <td>
                                {%- for row in doc.custom_installation_note_recipe -%}
                                {%- if row.item_name == "Agg5" -%}
                                {{ row.qty }}
                                {%- endif -%}
                                {%- endfor -%}
                                {{ "0.00" }}
                            </td>
                            <td>
                                {%- for row in doc.custom_installation_note_recipe -%}
                                {%- if row.item_name == "Agg6" -%}
                                {{ row.qty }}
                                {%- endif -%}
                                {%- endfor -%}
                                {{ "0.00" }}
                            </td>
                            <td>
                                {%- for row in doc.custom_installation_note_recipe -%}
                                {%- if row.item_name == "Cement" -%}
                                {{ row.qty }}
                                {%- endif -%}
                                {%- endfor -%}
                                {{ "0.00" }}
                            </td>
                            <td>
                                {%- for row in doc.custom_installation_note_recipe -%}
                                {%- if row.item_name == "CEM-II" -%}
                                {{ row.qty }}
                                {%- endif -%}
                                {%- endfor -%}
                                {{ "0.00" }}
                            </td>
                            <td>
                                {%- for row in doc.custom_installation_note_recipe -%}
                                {%- if row.item_name == "CEM-III" -%}
                                {{ row.qty }}
                                {%- endif -%}
                                {%- endfor -%}
                                {{ "0.00" }}
                            </td>
                            <td>
                                {%- for row in doc.custom_installation_note_recipe -%}
                                {%- if row.item_name == "Cem4" -%}
                                {{ row.qty }}
                                {%- endif -%}
                                {%- endfor -%}
                                {{ "0.00" }}
                            </td>
                            <td>
                                {%- for row in doc.custom_installation_note_recipe -%}
                                {%- if row.item_name == "Cem5" -%}
                                {{ row.qty }}
                                {%- endif -%}
                                {%- endfor -%}
                                {{ "0.00" }}
                            </td>
                            <td>
                                {%- for row in doc.custom_installation_note_recipe -%}
                                {%- if row.item_name == "Water" -%}
                                {{ row.qty }}
                                {%- endif -%}
                                {%- endfor -%}
                                {{ "0.00" }}
                            </td>
                            <td>
                                {%- for row in doc.custom_installation_note_recipe -%}
                                {%- if row.item_name == "Wtr2" -%}
                                {{ row.qty }}
                                {%- endif -%}
                                {%- endfor -%}
                                {{ "0.00" }}
                            </td>
                            <td>
                                {%- for row in doc.custom_installation_note_recipe -%}
                                {%- if row.item_name == "Wtr3" -%}
                                {{ row.qty }}
                                {%- endif -%}
                                {%- endfor -%}
                                {{ "0.00" }}
                            </td>
                            <td>
                                {%- for row in doc.custom_installation_note_recipe -%}
                                {%- if row.item_name == "Admixture" -%}
                                {{ row.qty }}
                                {%- endif -%}
                                {%- endfor -%}
                                {{ "0.00" }}
                            </td>
                            <td>
                                {%- for row in doc.custom_installation_note_recipe -%}
                                {%- if row.item_name == "ADMIX-II" -%}
                                {{ row.qty }}
                                {%- endif -%}
                                {%- endfor -%}
                                {{ "0.00" }}
                            </td>
                            <td>
                                {%- for row in doc.custom_installation_note_recipe -%}
                                {%- if row.item_name == "Admix3" -%}
                                {{ row.qty }}
                                {%- endif -%}
                                {%- endfor -%}
                                {{ "0.00" }}
                            </td>
                            <td>
                                {%- for row in doc.custom_installation_note_recipe -%}
                                {%- if row.item_name == "silica" -%}
                                {{ row.qty }}
                                {%- endif -%}
                                {%- endfor -%}
                                {{ "0.00" }}
                            </td>
                        </tr>
                        <tr class="none-border">
                            <td colspan="16"> <b>Mass of Recipe Targets in
                                    Kgs.</b>
                            </td>
                            <td class="text-center" style="border:2px solid black;"><b>{{
                                    doc.custom_installation_note_recipe |
                                    sum(attribute='qty') }}</b></td>
                        </tr>
                    </table>

                    <table>
                        <tr class="none-border">
                            <td colspan="17"><b>Target and Actual Value
                                    with
                                    moisture
                                    correction/absorption in % and other Corrections in Kgs.</b></td>
                        </tr>

                        {% set customNoOfBatch = (doc.items[0].custom_no_of_batch) | int %}

                        {% for i in range(1, customNoOfBatch + 1) %}
                        <tr>

                            <td>
                                {%- for i in range(0, doc.custom_installation_note_data|length, customNoOfBatch) -%}
                                {%- if doc.custom_installation_note_data[i].item == "20 MM" -%}
                                {{ doc.custom_installation_note_data[i].tar }}
                                {%- endif -%}
                                {%- endfor -%}
                                {{ "0.00" }}
                            </td>
                            <td>
                                {%- for i in range(0, doc.custom_installation_note_data|length, customNoOfBatch) -%}
                                {%- if doc.custom_installation_note_data[i].item == "Crushed Sand" -%}
                                {{ doc.custom_installation_note_data[i].tar }}
                                {%- endif -%}
                                {%- endfor -%}
                                {{ "0.00" }}
                            </td>
                            <td>
                                {%- for i in range(0, doc.custom_installation_note_data|length, customNoOfBatch) -%}
                                {%- if doc.custom_installation_note_data[i].item == "10 MM" -%}
                                {{ doc.custom_installation_note_data[i].tar }}
                                {%- endif -%}
                                {%- endfor -%}
                                {{ "0.00" }}
                            </td>
                            <td>
                                {%- for i in range(0, doc.custom_installation_note_data|length, customNoOfBatch) -%}
                                {%- if doc.custom_installation_note_data[i].item == "Agg5" -%}
                                {{ doc.custom_installation_note_data[i].tar }}
                                {%- endif -%}
                                {%- endfor -%}
                                {{ "0.00" }}
                            </td>
                            <td>
                                {%- for i in range(0, doc.custom_installation_note_data|length, customNoOfBatch) -%}
                                {%- if doc.custom_installation_note_data[i].item == "Agg6" -%}
                                {{ doc.custom_installation_note_data[i].tar }}
                                {%- endif -%}
                                {%- endfor -%}
                                {{ "0.00" }}
                            </td>
                            <td>
                                {%- for i in range(0, doc.custom_installation_note_data|length, customNoOfBatch) -%}
                                {%- if doc.custom_installation_note_data[i].item == "Cement" -%}
                                {{ doc.custom_installation_note_data[i].tar }}
                                {%- endif -%}
                                {%- endfor -%}
                                {{ "0.00" }}
                            </td>
                            <td>
                                {%- for i in range(0, doc.custom_installation_note_data|length, customNoOfBatch) -%}
                                {%- if doc.custom_installation_note_data[i].item == "CEM-II" -%}
                                {{ doc.custom_installation_note_data[i].tar }}
                                {%- endif -%}
                                {%- endfor -%}
                                {{ "0.00" }}
                            </td>
                            <td>
                                {%- for i in range(0, doc.custom_installation_note_data|length, customNoOfBatch) -%}
                                {%- if doc.custom_installation_note_data[i].item == "CEM-III" -%}
                                {{ doc.custom_installation_note_data[i].tar }}
                                {%- endif -%}
                                {%- endfor -%}
                                {{ "0.00" }}
                            </td>
                            <td>
                                {%- for i in range(0, doc.custom_installation_note_data|length, customNoOfBatch) -%}
                                {%- if doc.custom_installation_note_data[i].item == "Cem4" -%}
                                {{ doc.custom_installation_note_data[i].tar }}
                                {%- endif -%}
                                {%- endfor -%}
                                {{ "0.00" }}
                            </td>
                            <td>
                                {%- for i in range(0, doc.custom_installation_note_data|length, customNoOfBatch) -%}
                                {%- if doc.custom_installation_note_data[i].item == "Cem5" -%}
                                {{ doc.custom_installation_note_data[i].tar }}
                                {%- endif -%}
                                {%- endfor -%}
                                {{ "0.00" }}
                            </td>
                            <td>
                                {%- for i in range(0, doc.custom_installation_note_data|length, customNoOfBatch) -%}
                                {%- if doc.custom_installation_note_data[i].item == "Water" -%}
                                {{ doc.custom_installation_note_data[i].tar }}
                                {%- endif -%}
                                {%- endfor -%}
                                {{ "0.00" }}
                            </td>
                            <td>
                                {%- for i in range(0, doc.custom_installation_note_data|length, customNoOfBatch) -%}
                                {%- if doc.custom_installation_note_data[i].item == "Wtr2" -%}
                                {{ doc.custom_installation_note_data[i].tar }}
                                {%- endif -%}
                                {%- endfor -%}
                                {{ "0.00" }}
                            </td>
                            <td>
                                {%- for i in range(0, doc.custom_installation_note_data|length, customNoOfBatch) -%}
                                {%- if doc.custom_installation_note_data[i].item == "Wtr3" -%}
                                {{ doc.custom_installation_note_data[i].tar }}
                                {%- endif -%}
                                {%- endfor -%}
                                {{ "0.00" }}
                            </td>
                            <td>
                                {%- for i in range(0, doc.custom_installation_note_data|length, customNoOfBatch) -%}
                                {%- if doc.custom_installation_note_data[i].item == "Admixture" -%}
                                {{ doc.custom_installation_note_data[i].tar }}
                                {%- endif -%}
                                {%- endfor -%}
                                {{ "0.00" }}
                            </td>
                            <td>
                                {%- for i in range(0, doc.custom_installation_note_data|length, customNoOfBatch) -%}
                                {%- if doc.custom_installation_note_data[i].item == "ADMIX-II" -%}
                                {{ doc.custom_installation_note_data[i].tar }}
                                {%- endif -%}
                                {%- endfor -%}
                                {{ "0.00" }}
                            </td>
                            <td>
                                {%- for i in range(0, doc.custom_installation_note_data|length, customNoOfBatch) -%}
                                {%- if doc.custom_installation_note_data[i].item == "Admix3" -%}
                                {{ doc.custom_installation_note_data[i].tar }}
                                {%- endif -%}
                                {%- endfor -%}
                                {{ "0.00" }}
                            </td>
                            <td>
                                {%- for i in range(0, doc.custom_installation_note_data|length, customNoOfBatch) -%}
                                {%- if doc.custom_installation_note_data[i].item == "silica" -%}
                                {{ doc.custom_installation_note_data[i].tar }}
                                {%- endif -%}
                                {%- endfor -%}
                                {{ "0.00" }}
                            </td>


                        </tr>
                        <tr>

                            <td>
                                {%- for i in range(0, doc.custom_installation_note_data|length, customNoOfBatch) -%}
                                {%- if doc.custom_installation_note_data[i].item == "20 MM" -%}
                                {{ doc.custom_installation_note_data[i].act }}
                                {%- endif -%}
                                {%- endfor -%}
                                {{ "0.00" }}
                            </td>
                            <td>
                                {%- for i in range(0, doc.custom_installation_note_data|length, customNoOfBatch) -%}
                                {%- if doc.custom_installation_note_data[i].item == "Crushed Sand" -%}
                                {{ doc.custom_installation_note_data[i].act }}
                                {%- endif -%}
                                {%- endfor -%}
                                {{ "0.00" }}
                            </td>
                            <td>
                                {%- for i in range(0, doc.custom_installation_note_data|length, customNoOfBatch) -%}
                                {%- if doc.custom_installation_note_data[i].item == "10 MM" -%}
                                {{ doc.custom_installation_note_data[i].act }}
                                {%- endif -%}
                                {%- endfor -%}
                                {{ "0.00" }}
                            </td>
                            <td>
                                {%- for i in range(0, doc.custom_installation_note_data|length, customNoOfBatch) -%}
                                {%- if doc.custom_installation_note_data[i].item == "Agg5" -%}
                                {{ doc.custom_installation_note_data[i].act }}
                                {%- endif -%}
                                {%- endfor -%}
                                {{ "0.00" }}
                            </td>
                            <td>
                                {%- for i in range(0, doc.custom_installation_note_data|length, customNoOfBatch) -%}
                                {%- if doc.custom_installation_note_data[i].item == "Agg6" -%}
                                {{ doc.custom_installation_note_data[i].act }}
                                {%- endif -%}
                                {%- endfor -%}
                                {{ "0.00" }}
                            </td>
                            <td>
                                {%- for i in range(0, doc.custom_installation_note_data|length, customNoOfBatch) -%}
                                {%- if doc.custom_installation_note_data[i].item == "Cement" -%}
                                {{ doc.custom_installation_note_data[i].act }}
                                {%- endif -%}
                                {%- endfor -%}
                                {{ "0.00" }}
                            </td>
                            <td>
                                {%- for i in range(0, doc.custom_installation_note_data|length, customNoOfBatch) -%}
                                {%- if doc.custom_installation_note_data[i].item == "CEM-II" -%}
                                {{ doc.custom_installation_note_data[i].act }}
                                {%- endif -%}
                                {%- endfor -%}
                                {{ "0.00" }}
                            </td>
                            <td>
                                {%- for i in range(0, doc.custom_installation_note_data|length, customNoOfBatch) -%}
                                {%- if doc.custom_installation_note_data[i].item == "CEM-III" -%}
                                {{ doc.custom_installation_note_data[i].act }}
                                {%- endif -%}
                                {%- endfor -%}
                                {{ "0.00" }}
                            </td>
                            <td>
                                {%- for i in range(0, doc.custom_installation_note_data|length, customNoOfBatch) -%}
                                {%- if doc.custom_installation_note_data[i].item == "Cem4" -%}
                                {{ doc.custom_installation_note_data[i].act }}
                                {%- endif -%}
                                {%- endfor -%}
                                {{ "0.00" }}
                            </td>
                            <td>
                                {%- for i in range(0, doc.custom_installation_note_data|length, customNoOfBatch) -%}
                                {%- if doc.custom_installation_note_data[i].item == "Cem5" -%}
                                {{ doc.custom_installation_note_data[i].act }}
                                {%- endif -%}
                                {%- endfor -%}
                                {{ "0.00" }}
                            </td>
                            <td>
                                {%- for i in range(0, doc.custom_installation_note_data|length, customNoOfBatch) -%}
                                {%- if doc.custom_installation_note_data[i].item == "Water" -%}
                                {{ doc.custom_installation_note_data[i].act }}
                                {%- endif -%}
                                {%- endfor -%}
                                {{ "0.00" }}
                            </td>
                            <td>
                                {%- for i in range(0, doc.custom_installation_note_data|length, customNoOfBatch) -%}
                                {%- if doc.custom_installation_note_data[i].item == "Wtr2" -%}
                                {{ doc.custom_installation_note_data[i].act }}
                                {%- endif -%}
                                {%- endfor -%}
                                {{ "0.00" }}
                            </td>
                            <td>
                                {%- for i in range(0, doc.custom_installation_note_data|length, customNoOfBatch) -%}
                                {%- if doc.custom_installation_note_data[i].item == "Wtr3" -%}
                                {{ doc.custom_installation_note_data[i].act }}
                                {%- endif -%}
                                {%- endfor -%}
                                {{ "0.00" }}
                            </td>
                            <td>
                                {%- for i in range(0, doc.custom_installation_note_data|length, customNoOfBatch) -%}
                                {%- if doc.custom_installation_note_data[i].item == "Admixture" -%}
                                {{ doc.custom_installation_note_data[i].act }}
                                {%- endif -%}
                                {%- endfor -%}
                                {{ "0.00" }}
                            </td>
                            <td>
                                {%- for i in range(0, doc.custom_installation_note_data|length, customNoOfBatch) -%}
                                {%- if doc.custom_installation_note_data[i].item == "ADMIX-II" -%}
                                {{ doc.custom_installation_note_data[i].act }}
                                {%- endif -%}
                                {%- endfor -%}
                                {{ "0.00" }}
                            </td>
                            <td>
                                {%- for i in range(0, doc.custom_installation_note_data|length, customNoOfBatch) -%}
                                {%- if doc.custom_installation_note_data[i].item == "Admix3" -%}
                                {{ doc.custom_installation_note_data[i].act }}
                                {%- endif -%}
                                {%- endfor -%}
                                {{ "0.00" }}
                            </td>
                            <td>
                                {%- for i in range(0, doc.custom_installation_note_data|length, customNoOfBatch) -%}
                                {%- if doc.custom_installation_note_data[i].item == "silica" -%}
                                {{ doc.custom_installation_note_data[i].act }}
                                {%- endif -%}
                                {%- endfor -%}
                                {{ "0.00" }}
                            </td>


                        </tr>
                       
                        <tr>
                            <td colspan="17" style="border-bottom: 1.0px solid #80808073; padding: 0.1em;"></td>
                        </tr>
                        {%- endfor -%}
                    </table>

                    <table>
                        <tr class="none-border">
                            <td colspan="17" class="text-left no-left-border">
                                <b>Total Set Weight in Kgs.</b>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                {%- for row in doc.custom_installation_note_data_totals -%}
                                {%- if row.item == "20 MM" -%}
                                {{ row.tar }}
                                {%- endif -%}
                                {%- endfor -%}
                                {{ "0.00" }}
                            </td>
                            <td>
                                {%- for row in doc.custom_installation_note_data_totals -%}
                                {%- if row.item == "Crushed Sand" -%}
                                {{ row.tar }}
                                {%- endif -%}
                                {%- endfor -%}
                                {{ "0.00" }}
                            </td>
                            <td>
                                {%- for row in doc.custom_installation_note_data_totals -%}
                                {%- if row.item == "10 MM" -%}
                                {{ row.tar }}
                                {%- endif -%}
                                {%- endfor -%}
                                {{ "0.00" }}
                            </td>
                            <td>
                                {%- for row in doc.custom_installation_note_data_totals -%}
                                {%- if row.item == "Agg5" -%}
                                {{ row.tar }}
                                {%- endif -%}
                                {%- endfor -%}
                                {{ "0.00" }}
                            </td>
                            <td>
                                {%- for row in doc.custom_installation_note_data_totals -%}
                                {%- if row.item == "Agg6" -%}
                                {{ row.tar }}
                                {%- endif -%}
                                {%- endfor -%}
                                {{ "0.00" }}
                            </td>
                            <td>
                                {%- for row in doc.custom_installation_note_data_totals -%}
                                {%- if row.item == "Cement" -%}
                                {{ row.tar }}
                                {%- endif -%}
                                {%- endfor -%}
                                {{ "0.00" }}
                            </td>
                            <td>
                                {%- for row in doc.custom_installation_note_data_totals -%}
                                {%- if row.item == "CEM-II" -%}
                                {{ row.tar }}
                                {%- endif -%}
                                {%- endfor -%}
                                {{ "0.00" }}
                            </td>
                            <td>
                                {%- for row in doc.custom_installation_note_data_totals -%}
                                {%- if row.item == "CEM-III" -%}
                                {{ row.tar }}
                                {%- endif -%}
                                {%- endfor -%}
                                {{ "0.00" }}
                            </td>
                            <td>
                                {%- for row in doc.custom_installation_note_data_totals -%}
                                {%- if row.item == "Cem4" -%}
                                {{ row.tar }}
                                {%- endif -%}
                                {%- endfor -%}
                                {{ "0.00" }}
                            </td>
                            <td>
                                {%- for row in doc.custom_installation_note_data_totals -%}
                                {%- if row.item == "Cem5" -%}
                                {{ row.tar }}
                                {%- endif -%}
                                {%- endfor -%}
                                {{ "0.00" }}
                            </td>
                            <td>
                                {%- for row in doc.custom_installation_note_data_totals -%}
                                {%- if row.item == "Water" -%}
                                {{ row.tar }}
                                {%- endif -%}
                                {%- endfor -%}
                                {{ "0.00" }}
                            </td>
                            <td>
                                {%- for row in doc.custom_installation_note_data_totals -%}
                                {%- if row.item == "Wtr2" -%}
                                {{ row.tar }}
                                {%- endif -%}
                                {%- endfor -%}
                                {{ "0.00" }}
                            </td>
                            <td>
                                {%- for row in doc.custom_installation_note_data_totals -%}
                                {%- if row.item == "Wtr3" -%}
                                {{ row.tar }}
                                {%- endif -%}
                                {%- endfor -%}
                                {{ "0.00" }}
                            </td>
                            <td>
                                {%- for row in doc.custom_installation_note_data_totals -%}
                                {%- if row.item == "Admixture" -%}
                                {{ row.tar }}
                                {%- endif -%}
                                {%- endfor -%}
                                {{ "0.00" }}
                            </td>
                            <td>
                                {%- for row in doc.custom_installation_note_data_totals -%}
                                {%- if row.item == "ADMIX-II" -%}
                                {{ row.tar }}
                                {%- endif -%}
                                {%- endfor -%}
                                {{ "0.00" }}
                            </td>
                            <td>
                                {%- for row in doc.custom_installation_note_data_totals -%}
                                {%- if row.item == "Admix3" -%}
                                {{ row.tar }}
                                {%- endif -%}
                                {%- endfor -%}
                                {{ "0.00" }}
                            </td>
                            <td>
                                {%- for row in doc.custom_installation_note_data_totals -%}
                                {%- if row.item == "silica" -%}
                                {{ row.tar }}
                                {%- endif -%}
                                {%- endfor -%}
                                {{ "0.00" }}
                            </td>
                        </tr>
                        <tr>
                            <td colspan="16"> <b>Mass of Total
                                    Set Weight in
                                    Kgs.</b>
                            </td>
                            <td class="text-center" style="border:2px solid black;"><b>{{
                                    doc.custom_installation_note_data_totals |
                                    sum(attribute='tar') }}</b></td>
                        </tr>
                    </table>

                    <table>
                        <tr class="none-border">
                            <td colspan="17" class="text-left no-left-border">
                                <b>Total Actual Weight in Kgs.</b>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                {%- for row in doc.custom_installation_note_data_totals -%}
                                {%- if row.item == "20 MM" -%}
                                {{ row.act }}
                                {%- endif -%}
                                {%- endfor -%}
                                {{ "0.00" }}
                            </td>
                            <td>
                                {%- for row in doc.custom_installation_note_data_totals -%}
                                {%- if row.item == "Crushed Sand" -%}
                                {{ row.act }}
                                {%- endif -%}
                                {%- endfor -%}
                                {{ "0.00" }}
                            </td>
                            <td>
                                {%- for row in doc.custom_installation_note_data_totals -%}
                                {%- if row.item == "10 MM" -%}
                                {{ row.act }}
                                {%- endif -%}
                                {%- endfor -%}
                                {{ "0.00" }}
                            </td>
                            <td>
                                {%- for row in doc.custom_installation_note_data_totals -%}
                                {%- if row.item == "Agg5" -%}
                                {{ row.act }}
                                {%- endif -%}
                                {%- endfor -%}
                                {{ "0.00" }}
                            </td>
                            <td>
                                {%- for row in doc.custom_installation_note_data_totals -%}
                                {%- if row.item == "Agg6" -%}
                                {{ row.act }}
                                {%- endif -%}
                                {%- endfor -%}
                                {{ "0.00" }}
                            </td>
                            <td>
                                {%- for row in doc.custom_installation_note_data_totals -%}
                                {%- if row.item == "Cement" -%}
                                {{ row.act }}
                                {%- endif -%}
                                {%- endfor -%}
                                {{ "0.00" }}
                            </td>
                            <td>
                                {%- for row in doc.custom_installation_note_data_totals -%}
                                {%- if row.item == "CEM-II" -%}
                                {{ row.act }}
                                {%- endif -%}
                                {%- endfor -%}
                                {{ "0.00" }}
                            </td>
                            <td>
                                {%- for row in doc.custom_installation_note_data_totals -%}
                                {%- if row.item == "CEM-III" -%}
                                {{ row.act }}
                                {%- endif -%}
                                {%- endfor -%}
                                {{ "0.00" }}
                            </td>
                            <td>
                                {%- for row in doc.custom_installation_note_data_totals -%}
                                {%- if row.item == "Cem4" -%}
                                {{ row.act }}
                                {%- endif -%}
                                {%- endfor -%}
                                {{ "0.00" }}
                            </td>
                            <td>
                                {%- for row in doc.custom_installation_note_data_totals -%}
                                {%- if row.item == "Cem5" -%}
                                {{ row.act }}
                                {%- endif -%}
                                {%- endfor -%}
                                {{ "0.00" }}
                            </td>
                            <td>
                                {%- for row in doc.custom_installation_note_data_totals -%}
                                {%- if row.item == "Water" -%}
                                {{ row.act }}
                                {%- endif -%}
                                {%- endfor -%}
                                {{ "0.00" }}
                            </td>
                            <td>
                                {%- for row in doc.custom_installation_note_data_totals -%}
                                {%- if row.item == "Wtr2" -%}
                                {{ row.act }}
                                {%- endif -%}
                                {%- endfor -%}
                                {{ "0.00" }}
                            </td>
                            <td>
                                {%- for row in doc.custom_installation_note_data_totals -%}
                                {%- if row.item == "Wtr3" -%}
                                {{ row.act }}
                                {%- endif -%}
                                {%- endfor -%}
                                {{ "0.00" }}
                            </td>
                            <td>
                                {%- for row in doc.custom_installation_note_data_totals -%}
                                {%- if row.item == "Admixture" -%}
                                {{ row.act }}
                                {%- endif -%}
                                {%- endfor -%}
                                {{ "0.00" }}
                            </td>
                            <td>
                                {%- for row in doc.custom_installation_note_data_totals -%}
                                {%- if row.item == "ADMIX-II" -%}
                                {{ row.act }}
                                {%- endif -%}
                                {%- endfor -%}
                                {{ "0.00" }}
                            </td>
                            <td>
                                {%- for row in doc.custom_installation_note_data_totals -%}
                                {%- if row.item == "Admix3" -%}
                                {{ row.act }}
                                {%- endif -%}
                                {%- endfor -%}
                                {{ "0.00" }}
                            </td>
                            <td>
                                {%- for row in doc.custom_installation_note_data_totals -%}
                                {%- if row.item == "silica" -%}
                                {{ row.act }}
                                {%- endif -%}
                                {%- endfor -%}
                                {{ "0.00" }}
                            </td>
                        </tr>

                        <tr>
                            <td colspan="16"> <b>Mass of Total Actual Weight in Kgs.</b></td>
                            <td class="text-center" style="border:2px solid black;"><b>{{
                                    doc.custom_installation_note_data_totals |
                                    sum(attribute='act') }}</b></td>
                        </tr>
                    </table>

                    <table>
                        <tr class="none-border">
                            <td colspan="17" class="text-left no-left-border">
                                <b>Difference in Percentage</b>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                {%- for row in doc.custom_installation_note_data_totals -%}
                                {%- if row.item == "20 MM" -%}
                                {{ "%.2f"|format(row.diff) }}
                                {%- endif -%}
                                {%- endfor -%}
                                {{ "0.00" }}
                            </td>
                            <td>
                                {%- for row in doc.custom_installation_note_data_totals -%}
                                {%- if row.item == "Crushed Sand" -%}
                                {{ "%.2f"|format(row.diff) }}
                                {%- endif -%}
                                {%- endfor -%}
                                {{ "0.00" }}
                            </td>
                            <td>
                                {%- for row in doc.custom_installation_note_data_totals -%}
                                {%- if row.item == "10 MM" -%}
                                {{ "%.2f"|format(row.diff) }}
                                {%- endif -%}
                                {%- endfor -%}
                                {{ "0.00" }}
                            </td>
                            <td>
                                {%- for row in doc.custom_installation_note_data_totals -%}
                                {%- if row.item == "Agg5" -%}
                                {{ "%.2f"|format(row.diff) }}
                                {%- endif -%}
                                {%- endfor -%}
                                {{ "0.00" }}
                            </td>
                            <td>
                                {%- for row in doc.custom_installation_note_data_totals -%}
                                {%- if row.item == "Agg6" -%}
                                {{ "%.2f"|format(row.diff) }}
                                {%- endif -%}
                                {%- endfor -%}
                                {{ "0.00" }}
                            </td>
                            <td>
                                {%- for row in doc.custom_installation_note_data_totals -%}
                                {%- if row.item == "Cement" -%}
                                {{ "%.2f"|format(row.diff) }}
                                {%- endif -%}
                                {%- endfor -%}
                                {{ "0.00" }}
                            </td>
                            <td>
                                {%- for row in doc.custom_installation_note_data_totals -%}
                                {%- if row.item == "CEM-II" -%}
                                {{ "%.2f"|format(row.diff) }}
                                {%- endif -%}
                                {%- endfor -%}
                                {{ "0.00" }}
                            </td>
                            <td>
                                {%- for row in doc.custom_installation_note_data_totals -%}
                                {%- if row.item == "CEM-III" -%}
                                {{ "%.2f"|format(row.diff) }}
                                {%- endif -%}
                                {%- endfor -%}
                                {{ "0.00" }}
                            </td>
                            <td>
                                {%- for row in doc.custom_installation_note_data_totals -%}
                                {%- if row.item == "Cem4" -%}
                                {{ "%.2f"|format(row.diff) }}
                                {%- endif -%}
                                {%- endfor -%}
                                {{ "0.00" }}
                            </td>
                            <td>
                                {%- for row in doc.custom_installation_note_data_totals -%}
                                {%- if row.item == "Cem5" -%}
                                {{ "%.2f"|format(row.diff) }}
                                {%- endif -%}
                                {%- endfor -%}
                                {{ "0.00" }}
                            </td>
                            <td>
                                {%- for row in doc.custom_installation_note_data_totals -%}
                                {%- if row.item == "Water" -%}
                                {{ "%.2f"|format(row.diff) }}
                                {%- endif -%}
                                {%- endfor -%}
                                {{ "0.00" }}
                            </td>
                            <td>
                                {%- for row in doc.custom_installation_note_data_totals -%}
                                {%- if row.item == "Wtr2" -%}
                                {{ "%.2f"|format(row.diff) }}
                                {%- endif -%}
                                {%- endfor -%}
                                {{ "0.00" }}
                            </td>
                            <td>
                                {%- for row in doc.custom_installation_note_data_totals -%}
                                {%- if row.item == "Wtr3" -%}
                                {{ "%.2f"|format(row.diff) }}
                                {%- endif -%}
                                {%- endfor -%}
                                {{ "0.00" }}
                            </td>
                            <td>
                                {%- for row in doc.custom_installation_note_data_totals -%}
                                {%- if row.item == "Admixture" -%}
                                {{ "%.2f"|format(row.diff) }}
                                {%- endif -%}
                                {%- endfor -%}
                                {{ "0.00" }}
                            </td>
                            <td>
                                {%- for row in doc.custom_installation_note_data_totals -%}
                                {%- if row.item == "ADMIX-II" -%}
                                {{ "%.2f"|format(row.diff) }}
                                {%- endif -%}
                                {%- endfor -%}
                                {{ "0.00" }}
                            </td>
                            <td>
                                {%- for row in doc.custom_installation_note_data_totals -%}
                                {%- if row.item == "Admix3" -%}
                                {{ "%.2f"|format(row.diff) }}
                                {%- endif -%}
                                {%- endfor -%}
                                {{ "0.00" }}
                            </td>
                            <td>
                                {%- for row in doc.custom_installation_note_data_totals -%}
                                {%- if row.item == "silica" -%}
                                {{ "%.2f"|format(row.diff) }}
                                {%- endif -%}
                                {%- endfor -%}
                                {{ "0.00" }}
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>


    </div>

    <table class="none-border">
        <tr>
            <td class="align-left">
                <img src="/files/print-logo-bottom.jpeg" class="img img-rounded" width="47" height="60">
            </td>
            <td class="align-center vertical-middle">Page 1</td>
            <td class="align-right vertical-middle">Print Date:{{ frappe.utils.now_datetime() }}</td>
        </tr>

    </table>

</div>