<div class="container-fluid" id="container-fluid">
    <table class="table">
        <tbody>
            <tr class="no-right-border">
                <td rowspan="3" colspan="1" class="no-left-border no-bottom-border  no-top-border ">
                    <img src="./files/print-logo.jpeg" class="img img-rounded" align="left" width="80" height="60">
                </td>

                <td class=" no-bottom-border  no-top-border no-left-border"></td>

                <td colspan="3" style="font-size: 2.0em;" width="60%" class="text-center top-border"><b>BIHAR
                        RMC</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td class=" no-bottom-border no-right-border no-top-border "></td>
            </tr>
            <tr>
                <td colspan="6" class="no-left-border no-bottom-border no-right-border">
                    <p class="text-left"><span
                            style="font-size: 2.0em; float: left;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Report
                                Title:</b>&nbsp;&nbsp;&nbsp;&nbsp; <b>Batch Sheet</b>&nbsp;&nbsp;&nbsp;<b> Plant
                                Sl.No: 566</b></span></p>
                </td>
                <td class="no-left-border no-bottom-border no-right-border"></td>
                <td class="no-left-border no-bottom-border no-right-border"></td>
                <td class="no-left-border no-bottom-border no-right-border"></td>
                <td class="no-left-border no-bottom-border no-right-border"></td>
            </tr>
        </tbody>
    </table>

    <table class="table1" style="width: 100%">
        <tbody>
            <tr>
                <td>
                    <table style="width: 90%; margin-left:1%;">

                        <tbody>
                            <tr>
                                <td colspan="2"><strong>Batch Date</strong></td>

                                <td colspan="2"><span>: {{ doc.get_formatted("inst_date") }}</span></td>

                                <td colspan="2"><strong>Batch Start Time</strong></td>

                                <td colspan="2"><span>: {{ doc.get_formatted("custom_start_time") }}</span></td>

                                <td colspan="2"><strong>Batch End Time</strong></td>

                                <td colspan="2"><span>: {{ doc.get_formatted("inst_time") }}</span></td>
                            </tr>
                            <tr>
                                <td colspan="2" style="font-size: 13px;"><strong>Batch Number</strong></td>

                                <td colspan="2"><span>: 2</span></td>
                                <td colspan="2"><strong>Recipe Code</strong></td>

                                <td colspan="2"><span>: {{doc.custom_recipe_name}}</span></td>

                                <td colspan="2"><strong>Ordered Qty</strong></td>
                                <td colspan="2"><span>: {{doc.items[0].qty}}</span></td>
                            </tr>
                            <tr>
                                <td colspan="2"><strong>Batch Name</strong></td>
                                <td colspan="2"><span>: {{doc.items[0].description}}</span></td>
                                <td colspan="2"><strong>Recipe Name</strong></td>
                                <td colspan="2"><span>: {{doc.custom_recipe_name}}</span></td>
                                <td colspan="2"><strong>Production Qty</strong></td>
                                <td colspan="2"><span>: {{doc.items[0].custom_count}}</span></td>
                            </tr>
                            <tr>
                                <td colspan="2"><strong>Order Number</strong></td>
                                <td colspan="2"><span>: {{doc.items[0].custom_sales_order_no}}</span></td>
                                <td colspan="2"><strong>Truck Number</strong></td>
                                <td colspan="2"><span>: {{ doc.custom_vehicle_no }}</span></td>
                                <td colspan="2"><strong>Adj/Manual Qty</strong></td>
                                <td colspan="2"><span>: 0.00</span></td>
                            </tr>
                            <tr>
                                <td colspan="2"><strong>Customer</strong></td>
                                <td colspan="2"><span>: {{ doc.customer_name }}</span></td>
                                <td colspan="2"><strong>Truck Driver</strong></td>
                                <td colspan="2"><span>: {{ doc.custom_driver_name }}</span></td>
                                <td colspan="2"><strong>With This Load</strong></td>
                                <td colspan="2"><span>: 0.0</span></td>
                            </tr>
                            <tr>
                                <td colspan="2"><strong>Site</strong></td>
                                <td colspan="2"><span>: {{ doc.custom_site }}</span></td>
                                <td colspan="2"><strong>Batch size</strong></td>
                                <td colspan="2"><span>: {{doc.items[0].custom_batch_size}}</span></td>
                                <td colspan="2"><strong>Mixer capacity</strong></td>
                                <td colspan="2"><span>: {{ doc.custom_batch_size }}</span></td>
                            </tr>

                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <br>

                    <table class="table text-center">

                        <tbody>

                            <tr class="hide-top">
                                <td colspan="{{ doc.custom_installation_note_recipe | length }}"
                                    class="text-left no-left-border no-right-border table2-td">
                                    <table class="table2">
                                        <tr class="hide-top">
                                            <td class="text-center no-left-border no-right-border">
                                                <b>Aggregate</b>
                                            </td>
                                            <td class="text-center no-left-border no-right-border"><b>Cement</b>
                                            </td>
                                            <td class="text-center no-left-border no-right-border">
                                                <b>Water/Ice</b>
                                            </td>
                                            <td class="text-center no-left-border no-right-border">
                                                <b>Admixture</b>
                                            </td>
                                            <td class="text-center no-left-border no-right-border"><b>Silica</b>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>

                            <tr>
                                {%- for row in doc.custom_installation_note_recipe -%}
                                <td style="border: 1.0px solid #80808073"><b>{{ row.item_name }}</b></td>
                                {%- endfor -%}
                            </tr>

                            <tr>
                                {%- for row in doc.custom_installation_note_recipe -%}
                                <td style="border: 1.0px solid #80808073">{{ row.qty | round(2) }}</td>
                                {%- endfor -%}
                            </tr>

                            <tr>
                                <td colspan="{{ doc.custom_installation_note_recipe | length -1 }}"
                                    class="text-right no-left-border no-bottom-border"
                                    style="border-right:1.5px solid black;"><b>Mass of Recipe Targets in
                                        Kgs.</b>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                <td class="text-center" style="border:2px solid black;">
                                    <b>{{ doc.custom_installation_note_recipe |
                                        sum(attribute='qty') }}</b>
                                </td>

                            </tr>

                            <tr>
                                <td colspan="{{ doc.custom_installation_note_recipe | length }}"
                                    class="text-left no-left-border no-right-border"><b>Target and
                                        Actual Value with moisture correction/absorption in % and other
                                        Corrections in Kgs.</b></td>
                            </tr>

                            {% set customNoOfBatch = (doc.items[0].custom_no_of_batch) | int %}
                            {% set diffVal = 5 | int %}

                            {% for i in range(1, customNoOfBatch + 1) %}
                            <tr>
                                {%- for row in doc.custom_installation_note_recipe -%}
                                <td style="border: 1.0px solid #80808073">{{ (row.qty) | round(2) }}</td>
                                {% endfor %}

                            </tr>

                            <tr>
                                {%- for row in doc.custom_installation_note_recipe -%}
                                {% if row.qty == 0 %}
                                {% set value = 0.00 %}
                                {% else %}
                                {% set value = (row.qty + diffVal) | round(2) %}
                                {% endif %}
                                <td style="border: 1.0px solid #80808073">{{ value }}</td>
                                {%- endfor %}
                            </tr>


                            <tr>
                                {%- for row in doc.custom_installation_note_recipe -%}
                                <td style="border: 1.0px solid #80808073">0.00</td>
                                {% endfor %}
                            </tr>

                            <tr>
                                {%- for row in doc.custom_installation_note_recipe -%}
                                <td style="border: 1.0px solid #80808073">0.00</td>
                                {% endfor %}
                            </tr>

                            <tr>
                                <td colspan="{{ doc.custom_installation_note_recipe | length }}"
                                    style="border-bottom: 1.0px solid #80808073; padding: 0.1em;">
                                </td>
                            </tr>
                            {%- endfor -%}

                            <tr>
                                <td colspan="{{ doc.custom_installation_note_recipe | length }}"
                                    class="text-left no-left-border"><b>Total Set Weight in Kgs.</b></td>

                            </tr>

                            <tr>
                                {% set ns = namespace(tars=0) %}
                                {%- for row in doc.custom_installation_note_recipe -%}
                                <td style="border: 1.0px solid #80808073">{{ ((row.qty) * customNoOfBatch) |
                                    round(2) }}</td>
                                {% set ns.tars = ns.tars + (row.qty * customNoOfBatch) %}
                                {%- endfor -%}

                            </tr>
                            <tr>
                                <td colspan="{{ doc.custom_installation_note_recipe | length -1 }}" class="text-right"
                                    style="border-right:1.5px solid black;">
                                    <b>Mass of Total Set Weight in Kgs.</b>
                                </td>
                                <td class="text-center" style="border:2px solid black;">
                                    <b>{{ ns.tars | round(2) }}</b>
                                </td>

                            </tr>


                            <tr>
                                <td colspan="{{ doc.custom_installation_note_recipe | length }}"
                                    class="text-left no-left-border"><b>Total Actual Weight in Kgs.</b></td>

                            </tr>

                            <tr>
                                {% set ns = namespace(tars=0) %}
                                {%- for row in doc.custom_installation_note_recipe -%}
                                {% if row.qty == 0 %}
                                {% set newValue = 0.00 %}
                                {% else %}
                                {% set newValue = ((row.qty + diffVal) * customNoOfBatch) | round(2) %}
                                {% endif %}
                                <td style="border: 1.0px solid #80808073">{{ newValue }}</td>
                                {% set ns.tars = ns.tars + newValue %}
                                {%- endfor -%}
                            </tr>

                            <tr>
                                <td colspan="{{ doc.custom_installation_note_recipe | length -1 }}" class="text-right"
                                    style="border-right:1.5px solid black;">
                                    <b>Mass of Total Actual Weight in Kgs.</b>
                                </td>
                                <td class="text-center" style="border:2px solid black;">
                                    <b>{{ ns.tars | round(2) }}</b>
                                </td>

                            </tr>

                            <tr>
                                <td colspan="{{ doc.custom_installation_note_recipe | length }}"
                                    class="text-left no-left-border"><b>Difference in Percentage</b></td>

                            </tr>

                            <tr>
                                {%- for row in doc.custom_installation_note_recipe -%}
                                {% set tars = row.qty * customNoOfBatch %}
                                {% set acts = (row.qty + diffVal) * customNoOfBatch %}
                                {% set factor = 1000 if row.uom == "Liter" else 100 %}

                                {% if tars == 0 %}
                                {% set percentage = 0.00 %}
                                {% else %}
                                {% set percentage = ((tars - acts) / tars * factor) | round(2) %}
                                {% endif %}

                                <td style="border: 1.0px solid #80808073" class="text-center">{{ percentage }}</td>
                                {%- endfor -%}
                            </tr>


                        </tbody>
                    </table>
                    <br>
                </td>
            </tr>
        </tbody>
    </table>
    <br>
    <br>
    <br>
    <br>
    <footer>
        <div class="left">
            <img src="./files/print-logo-bottom.jpeg" alt="Logo" width="120" height="40">
        </div>
        <div class="center">Page 1</div>
        <div class="right">Print Date:{{ frappe.utils.now_datetime() }}</div>
    </footer>
</div>