<div class="container-fluid">

    <table>
        <tr>
            <td nowrap><strong>Batch Date</strong></td>
            <td><span>{{ doc.get_formatted("inst_date") }}</span></td>
            <td nowrap><strong>Batch Start Time</strong></td>
            <td><span>{{ doc.get_formatted("custom_start_time") }}</span></td>
            <td nowrap><strong>Batch End Time</strong></td>
            <td><span>{{ doc.get_formatted("inst_time") }}</span></td>
        </tr>
        <tr>
            <td nowrap><strong>Batch Number</strong></td>
            <td>
                {% if doc.custom_installation_note_data and doc.custom_installation_note_data[0].batch_no %}
                <span>{{doc.custom_installation_note_data[0].batch_no}}</span>
                {% endif %}
            </td>
            <td nowrap><strong>Recipe Code</strong></td>
            <td><span>{{doc.items[0].custom_recipe_code}}</span></td>
            <td nowrap><strong>Ordered Qty</strong></td>
            <td><span>{{doc.items[0].qty}}</span></td>
        </tr>
        <tr>
            <td nowrap><strong>Batch Name</strong></td>
            <td><span>{{doc.items[0].description}}</span></td>
            <td nowrap><strong>Recipe Name</strong></td>
            <td><span>{{ doc.custom_recipe_name }}</span></td>
            <td nowrap><strong>Production Qty</strong></td>
            <td><span>{{doc.items[0].custom_count}}</span></td>
        </tr>
        <tr>
            <td nowrap><strong>Order Number</strong></td>
            <td><span>{{doc.items[0].custom_sales_order_no}}</span></td>
            <td nowrap><strong>Truck Number</strong></td>
            <td><span>{{ doc.custom_vehicle_no }}</span></td>
            <td nowrap><strong>Adj/Manual Qty</strong></td>
            <td><span></span></td>
        </tr>
        <tr>
            <td nowrap><strong>Customer</strong></td>
            <td>{{ doc.customer_name }}</td>
            <td nowrap><strong>Truck Driver</strong></td>
            <td><span>{{ doc.custom_driver_name }}</span></td>
            <td nowrap><strong>With This Load</strong></td>
            <td><span></span></td>
        </tr>
        <tr>
            <td nowrap><strong>Site</strong></td>
            <td><span>{{ doc.custom_site }}</span></td>
            <td nowrap><strong>Batch size</strong></td>
            <td><span>{{doc.items[0].custom_batch_size}}</span></td>
            <td nowrap><strong>Mixer capacity</strong></td>
            <td><span>{{ doc.custom_batch_size }}</span></td>
        </tr>

    </table>

    <table class="table-none text-center">

        <tr>
            <td class="text-center no-left-border no-right-border"><b>Aggregate</b> </td>
            <td class="text-center no-left-border no-right-border"><b>Cement</b></td>
            <td class="text-center no-left-border no-right-border"><b>Water/Ice</b></td>
            <td class="text-center no-left-border no-right-border"><b>Admixture</b></td>
            <td class="text-center no-left-border no-right-border"><b>Silica</b></td>
        </tr>

    </table>

    <table>
        <tr>
            {%- for row in doc.custom_installation_note_recipe -%}
            <td><b>{{ row.item_name }}</b></td>
            {%- endfor -%}
        </tr>
        <tr>
            {%- for row in doc.custom_installation_note_recipe -%}
            <td>{{ row.qty }}</td>
            {%- endfor -%}
        </tr>
        <tr>
            <td colspan="{{ doc.custom_installation_note_recipe | length -1 }}"> <b>Mass of Recipe Targets in Kgs.</b>
            </td>
            <td class="text-center" style="border:2px solid black;"><b>{{ doc.custom_installation_note_recipe |
                    sum(attribute='qty') }}</b></td>
        </tr>
    </table>

    <table>
        <tr>
            <td colspan="{{ doc.custom_installation_note_recipe | length  }}"><b>Target and Actual Value with moisture
                    correction/absorption in % and other Corrections in Kgs.</b></td>
        </tr>

        {% set customNoOfBatch = (doc.items[0].custom_no_of_batch) | int %}

        {% for i in range(1, customNoOfBatch + 1) %}
        <tr>
            {%- for i in range(0, doc.custom_installation_note_data|length, customNoOfBatch) -%}
            <td>{{ doc.custom_installation_note_data[i].tar }}</td>
            {% endfor %}
        </tr>
        <tr>
            {%- for p in range(i - 1, doc.custom_installation_note_data|length, customNoOfBatch) -%}
            <td>{{ doc.custom_installation_note_data[p].act }}</td>
            {% endfor %}
        </tr>
        <tr>
            <td colspan="{{ doc.custom_installation_note_recipe | length  }}"
                style="border-bottom: 1.0px solid #80808073; padding: 0.1em;"></td>
        </tr>
        {%- endfor -%}
    </table>


    <table>
        <tr>
            <td colspan="{{ doc.custom_installation_note_data_totals | length }}" class="text-left no-left-border">
                <b>Total Set Weight in Kgs.</b>
            </td>
        </tr>
        <tr>
            {%- for row in doc.custom_installation_note_data_totals -%}
            <td>{{ row.tar }}</td>
            {%- endfor -%}
        </tr>
        <tr>
            <td colspan="{{ doc.custom_installation_note_data_totals | length -1 }}"> <b>Mass of Total Set Weight in
                    Kgs.</b>
            </td>
            <td class="text-center" style="border:2px solid black;"><b>{{ doc.custom_installation_note_data_totals |
                    sum(attribute='tar') }}</b></td>
        </tr>
    </table>

    <table>
        <tr>
            <td colspan="{{ doc.custom_installation_note_data_totals | length }}" class="text-left no-left-border">
                <b>Total Actual Weight in Kgs.</b>
            </td>
        </tr>
        <tr>
            {%- for row in doc.custom_installation_note_data_totals -%}
            <td>{{ row.act }}</td>
            {%- endfor -%}
        </tr>
        <tr>
            <td colspan="{{ doc.custom_installation_note_data_totals | length -1 }}"> <b>Mass of Total Actual Weight in
                    Kgs.</b>
            </td>
            <td class="text-center" style="border:2px solid black;"><b>{{ doc.custom_installation_note_data_totals |
                    sum(attribute='act') }}</b></td>
        </tr>
    </table>

    <table>
        <tr>
            <td colspan="{{ doc.custom_installation_note_data_totals | length }}" class="text-left no-left-border">
                <b>Difference in Percentage</b>
            </td>
        </tr>
        <tr>
            {%- for row in doc.custom_installation_note_data_totals -%}
            <td>{{ "%.2f"|format(row.diff) }}</td>
            {%- endfor -%}
        </tr>
    </table>

</div>